%link{:href => "//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css", :rel => "stylesheet"}/
/ begin template
%header.navbar.navbar-bright.navbar-fixed-top{:role => "banner"}
  / .container
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => "/companies"} Home
  %nav.collapse.navbar-collapse{:role => "navigation"}
    %ul.nav.navbar-nav
      %li
        =link_to "Edit Food Truck", edit_company_food_truck_path(@company, @food_truck)
      %li
        / =link_to "Edit Company Info", edit_company_path(@company)
      %li
        =link_to "Cancel", company_food_truck_path(@company, @food_truck)
      %li
        - if user_signed_in? 
          = link_to('Logout', destroy_user_session_path, :method => :delete)
        - else
          = link_to('Login', new_user_session_path)
    %ul.nav.navbar-right.navbar-nav
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          %i.glyphicon.glyphicon-search
        %ul.dropdown-menu{:style => "padding:12px;"}
          %form.form-inline
            %button.btn.btn-default.pull-right{:type => "submit"}
              %i.glyphicon.glyphicon-search
            %input.form-control.pull-left{:placeholder => "Search", :type => "text"}
.container
  .row
    .col-md-4
    .col-md-4           
      =render 'form'
    .col-md-4  